<app-page-header [caption]="'Bağımsız Bölüm Listesi'"></app-page-header>

<p-panel header="Arama Kriterleri" [toggleable]="true">
  <form [formGroup]="ch.getFilterForm(gridName)" (ngSubmit)="ch.setGridRefreshAsSearch(gridName);gridRefresh();">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-12">
        <label class="bold">Bağlı Olduğu Site</label>
        <p-dropdown name="siteId" [options]="sites" formControlName="siteId"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-12">
        <label class="bold">Bağlı Olduğu Bina</label>
        <p-dropdown name="buildingId" [options]="buildings" formControlName="buildingId"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-12">
        <label class="bold">Bağımsız Bölüm Adı</label>
        <input type="text" formControlName="name" maxlength="50" pInputText>
      </div>
    </div>
    <div class="p-d-flex p-jc-end">      
      <button pButton type="button" label="Ekle" icon="pi pi-plus" iconPos="left"
        class="p-button-info p-button-outlined p-mr-2" (click)="openUnitModal()"></button>
      <button pButton type="button" label="Temizle" icon="pi pi-refresh" iconPos="left"
        class="p-button-info p-button-outlined p-mr-2" (click)="ch.clearFilters(gridName)"></button>
      <button pButton type="submit" label="Ara" icon="pi pi-search" iconPos="left"></button>
    </div>

  </form>
</p-panel>

<p-dialog [(visible)]="createUnitModalVisible" [style]="{width: '50vw'}" (onHide)="onHideUnitModal()">
  <ng-template pTemplate="header">
    <h3>Bağımsız Bölüm {{ ch.isNullOrUndefined(selectedUnit) ? 'Ekle' : 'Düzenle' }}</h3>
  </ng-template>
  <app-unit-detail [unitId]="selectedUnit?.id" (onUnitSaved)="onUnitSaved($event)" *ngIf="createUnitModalVisible"></app-unit-detail>
</p-dialog>

<p-panel header="Bağımsız Bölüm Listesi" styleClass="p-mt-2">
  <app-grid (gridRefresh)="gridRefresh()" [dataTableId]="gridName">
    <ng-template let-unit="rowData" cellTemplate="operations">
      <button pButton pRipple icon="pi pi-pencil" pTooltip="Düzenle" class="p-button-rounded p-button-success p-mr-2"
        (click)="editUnit(unit)"></button>
      <button pButton pRipple icon="pi pi-trash" pTooltip="Sil" class="p-button-rounded p-button-warning"
        (click)="deleteUnit(unit.id)"></button>
    </ng-template>
  </app-grid>
</p-panel>