<div class="login-body">
    <div class="card login-panel p-fluid">
        <div class="login-panel-content">
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
                <div class="p-grid">
                    <div class="p-col-12 p-sm-12 p-md-12 logo-container" style="text-align: center;">
                        <img src="assets/layout/images/logotayp2TR.png"/>
                        <span class="guest-sign-in">Eposta adresinizi girerek şifrenizi sıfırlayabilirsiniz</span>
                    </div>
                    <div class="p-col-12 username-container">
                        <label>Eposta</label>
                        <div class="login-input">
                            <input type="text" formControlName="email" pInputText>
                        </div>
                    </div>
                    <div class="p-col-12 p-sm-6 p-md-6">
                        <button type="button" icon="pi pi-arrow-left" label="Giriş Ekranı" routerLink="/login" pButton></button>
                    </div>
                    <div class="p-col-12 p-sm-6 p-md-6">
                        <button type="submit" icon="pi pi-check" label="Şifre Sıfırla" pButton></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>