<app-page-header [caption]="'Kullanıcı Listesi'"></app-page-header>

<p-panel header="Arama Kriterleri" [toggleable]="true">
  <form [formGroup]="ch.getFilterForm(gridName)" (ngSubmit)="ch.setGridRefreshAsSearch(gridName);gridRefresh();">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-12">
        <label class="bold">Ad</label>
        <input type="text" formControlName="name" maxlength="50" pInputText>
      </div>
      <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-12">
        <label class="bold">Soyad</label>
        <input type="text" pInputText formControlName="surname" maxlength="50">
      </div>
    </div>
    <div class="p-d-flex p-jc-end">
      <button pButton type="button" label="Temizle" icon="pi pi-refresh" iconPos="left"
        class="p-button-info p-button-outlined p-mr-2" (click)="ch.clearFilters(gridName)"></button>
      <button pButton type="submit" label="Ara" icon="pi pi-search" iconPos="left"></button>
    </div>
  </form>
</p-panel>

<p-panel header="Kullanıcı Listesi" styleClass="p-mt-2">
  <app-grid (gridRefresh)="gridRefresh()" [dataTableId]="gridName">
    <ng-template let-user="rowData" cellTemplate="operations">
      <button pButton pRipple icon="pi pi-pencil" pTooltip="Düzenle" class="p-button-rounded p-button-success p-mr-2"
        (click)="goUserDetail(user)"></button>
      <button pButton pRipple icon="pi pi-trash" pTooltip="Sil" class="p-button-rounded p-button-warning"
        (click)="deleteUser(user.id)"></button>
    </ng-template>
  </app-grid>
</p-panel>