<app-page-header [caption]="'Eşit Giderler Listesi'" *ngIf="!businessProjectId"></app-page-header>

<p-panel header="Arama Kriterleri" [toggleable]="true">
  <form [formGroup]="ch.getFilterForm(gridName)" (ngSubmit)="ch.setGridRefreshAsSearch(gridName);gridRefresh();">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-12">
        <label class="bold">İşletme Projesi</label>
        <p-dropdown name="businessProjectId" [options]="businessProjects"
          formControlName="businessProjectId"></p-dropdown>
      </div>
    </div>
    <div class="p-d-flex p-jc-end">
      <button pButton type="button" label="Ekle" icon="pi pi-plus" iconPos="left"
        class="p-button-info p-button-outlined p-mr-2" (click)="openEqualExpenseModal()"></button>
      <button pButton type="button" label="Temizle" icon="pi pi-refresh" iconPos="left"
        class="p-button-info p-button-outlined p-mr-2" (click)="ch.clearFilters(gridName)"></button>
      <button pButton type="submit" label="Ara" icon="pi pi-search" iconPos="left"></button>
    </div>
  </form>
</p-panel>

<p-panel header="Eşit Giderler Listesi" styleClass="p-mt-2">
  <app-grid (gridRefresh)="gridRefresh()" [dataTableId]="gridName">
    <ng-template let-equalExpense="rowData" cellTemplate="operations">
      <button pButton pRipple icon="pi pi-pencil" pTooltip="Düzenle" class="p-button-rounded p-button-success p-mr-2"
        (click)="editEqualExpense(equalExpense)"></button>
      <button pButton pRipple icon="pi pi-trash" pTooltip="Sil" class="p-button-rounded p-button-warning"
        (click)="deleteEqualExpense(equalExpense.id)"></button>
    </ng-template>
  </app-grid>
</p-panel>

<p-dialog [(visible)]="createEqualExpenseModalVisible" [style]="{width: '50vw'}" (onHide)="onHideEqualExpenseModal()">
  <ng-template pTemplate="header">
    <h3>Eşit Giderler {{ ch.isNullOrUndefined(selectedEqualExpense) ? 'Ekle' : 'Düzenle' }}</h3>
  </ng-template>
  <app-equal-expense-detail [equalExpenseId]="selectedEqualExpense?.id"
    (onEqualExpenseSaved)="onEqualExpenseSaved($event)"
    *ngIf="createEqualExpenseModalVisible"></app-equal-expense-detail>
</p-dialog>


<!-- <p-table [value]="products" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.code}}</td>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.quantity}}</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>Total</td>
      <td>{{total}}</td>
    </tr>
  </ng-template>
</p-table> -->